body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("../images/bg001.png");
    
}

h1 {
    text-align: center;
    color: #8247e5;

}

nav {
    background-color: #f7931a;
    padding: 8px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 2px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    padding: 4px 6px;
    transition: background 0.3s;
}

nav ul li a:hover {
    background-color: #009393;
    border-radius: 8px;
}

main {
    text-align: center;
    padding: 50px;
}



.logotipo {
    width: 200px;
} 





.main {
  text-align: center;
}

h1 {
  color: #333;
  text-align: center;
}

.satoshi{
  width: 26px;
}

div {
  margin-bottom: 10px;
}

label {
  font-weight: bold;
}

input {
  padding: 5px;
}

button {
  padding: 5px 10px;
}

#resultado {
  font-weight: bold;
  color: green;
}

#resultado2 {
  font-weight: bold;
  color: green;
}





footer {
    height: 100px;
    width: 98,5%;    
    background-color: #8247e5;
    padding: 10px;
    text-align: center;

  }

  h4 {
    color: white;
  }
